Services/Web References/MailServASMX/mail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnviaEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mailFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nameFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="replyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bodyHtml" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="bccMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviaEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviaEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviaEmailSoapIn">
    <wsdl:part name="parameters" element="tns:EnviaEmail" />
  </wsdl:message>
  <wsdl:message name="EnviaEmailSoapOut">
    <wsdl:part name="parameters" element="tns:EnviaEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="mailSoap">
    <wsdl:operation name="EnviaEmail">
      <wsdl:input message="tns:EnviaEmailSoapIn" />
      <wsdl:output message="tns:EnviaEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="mailSoap" type="tns:mailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviaEmail">
      <soap:operation soapAction="http://tempuri.org/EnviaEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="mailSoap12" type="tns:mailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviaEmail">
      <soap12:operation soapAction="http://tempuri.org/EnviaEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mail">
    <wsdl:port name="mailSoap" binding="tns:mailSoap">
      <soap:address location="http://linkecerebro.com.br/mailsrv/mail.asmx" />
    </wsdl:port>
    <wsdl:port name="mailSoap12" binding="tns:mailSoap12">
      <soap12:address location="http://linkecerebro.com.br/mailsrv/mail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>